html,
body,
#root {
  height: 100%;
}

.flex-row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.category-name-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .category-name {
    font-size: 3rem;
  }
}